*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

/* header related styles starting here  */

header {
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    padding-left: 240px;
    padding-right: 240px;
}

.header-container{
    display: flex;
    justify-content: space-around;
}
.header-text{
    padding-top: 200px;
    width: 50%;
}
.header-container h3{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 780px;


}

.header-container p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 635px;
}

.btn-primary{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.header-img{
    padding-top: 50px;
}

/* featured flowers section related styles starts from here */

.featured-flowers-section{
    margin: 180px 240px 0px 300px;
    max-width: 1920px;
}

.featured-flowers-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-flowers-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32px;
    padding-bottom: 50px;
}
.flower-image-box{
    width: 465px;
    height: 540px;
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.flower-image-first{
    background-image: url(./images/pink\ bg.png);
    background-repeat: no-repeat;
    background-size: 465px 540px ;
    width: 310px;
    height: 430px;
    padding:110px 75px 0px 75px;
}
.flower-image-second{
    background-image: url(./images/ash.png);
    background-repeat: no-repeat;
    background-size: 465px 540px  ;
    width: 370px;
    height: 370px;
    padding:110px 75px 60px 75px;

}
.flower-image-third{
    background-image: url(./images/light.png);
    background-repeat: no-repeat;
    background-size: 465px 540px  ;
    width: 310px;
    height: 430px;
    padding:110px 75px 0px 75px;

}

.featured-flowers-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* service section related styles starts here  */

.services-container{
    margin: 130px 440px 130px  492px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    gap: 150px;
    justify-content: center;
}

.service-image{
    padding-top: 86px;
    padding-bottom: 86px;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}


/* discount section starts from here  */

.discount-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 430px;
    
}

.discount-container h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.discount-container p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0px 32px 0px;
}

.discount-texts{
    text-align: center;
}

/* inline css for "off" marked/colored text in span tag which is placed on 77th line  */


/* instagram section starts from here */

.instagram_section{
    margin: 130px 240px 130px 240px;
    background: #fff;
}

.instagram_section h3{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.instagram_section p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0px 50px 0px;
}

.instagram-image-container{
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* bonus section / deal of the day section starts from here  */

.review-container{
    text-align: center;
    background: rgba(5, 151, 160, 0.15);
    margin-top: 70px;
    margin-bottom: 70px;
    height: 600px;
    padding: 50px;
}

.reviewer-img{
    border-radius: 50%;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.review-container h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 25px;
    padding-bottom: 50px;
}

.review-container h4{
    color: #E55473;
    font-size: 26px;
}

.review-container p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 50px;
    
}

.review-container h5{
    padding-top:25px ;
    font-size: 22px;
}
 /* inline css added in span tag for reviewer name  */


/* newsletter section related styles starts from here  */

.newsletter-container{
    margin: 130px 220px 130px 460px;
    background-image: url('./images/Rectangle\ 9.png');
    width: 1450px;
    height: 449px;
    background-repeat: no-repeat;
    text-align: center;
    
}

.newsletter-container h3{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
}

.newsletter-container p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.btn-secondary{
    margin-left: 20px;
}

#email {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 22px 500px 22px 22px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;

}

/* footer related styles starts from here */

footer{
    height: 449px;
    background: #111010;
    text-align: center;
}

footer h3{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top: 130px;
}

footer p{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
}

footer h4{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-top: 35px;
}

